.loginBtn {
    display: block;
    margin: 0 auto;
    width: 40%;
    line-height: 30px;
    color: #6E9ECF;
    background-color: #E2ECF5;
    font-size: 20px;
    background-image: none;
}

.spinner {
    position: relative;
    left: 47%;
    width: 30px;
    height: 30px;
}
