.time-top-block {
    width: 80px; 
    height: 80px; 
    border-left: 1px solid rgba(224, 224, 224, 1);
}

.lines-top-block {
    float: right; 
    position: sticky; 
    /* width: 715px;  */
    height: 80px; 
    border-right: 1px solid rgba(224, 224, 224, 1); 
    border-left: 1px solid rgba(224, 224, 224, 1);;
    width: calc(100% - 81px);
}

.time-block {
    position: sticky;
    width: 80px; 
    border: 1px solid rgba(224, 224, 224, 1);
}

.lines-block {
    float: right;
    width: calc(100% - 81px);
    /* width: "715px";  */
    position: relative;    
}

.date-cell {
    width: auto;
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
}

.time-cell {
    height: 48px; 
    display: flex; 
    justify-content: right; 
    align-items: center; 
    padding-right: 5px;
}

.time-line {
    height: 48px;
}

.time-line:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.border-grey {
    border: 1px solid rgba(224, 224, 224, 1);
}

.border-bottom-grey {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.font-time-cell-common {
    color: rgba(0, 0, 0, 0.54);
    font-family: "Open Sans";
    font-weight: 200;
    line-height: 1.66;
    white-space: nowrap;
}

.font-small {
    font-size: 12px;
}

.font-large {
    font-size: 16px;
}

.week-day {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03333em;
}

.month-day {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.00735em;
}

.bg-color {
    background-color: #E2ECF5;
}

.cursor-pointer {
    cursor: pointer;
}

.task-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "Open Sans";
    line-height: 1.66;
    border-left: 2px solid #6E9ECF;
    border-right: 2px solid transparent;
    border-bottom: 1px solid transparent;
    /* border-radius: 4px; */
    letter-spacing: 0.03333em;

}

.text-box {
    color:black;
    display: flex;
    padding: 4px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-box-width {
    width: 100%;
}

.text-style {
    overflow: hidden;
    /* font-weight: bold; */
    white-space: nowrap;
    text-overflow: ellipsis;
}
