.app-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    /*height: 80px;*/
    top: 0px;
    background-color: #FFF;
    border-top: 1px solid #898989;
    box-shadow: 0 0 20px 0 #0008;
    z-index: 99;
}

.app-logo {
    display: block;
    margin: 20px;
    width: 290px;
    height: 60px;
    background-position: center;
    background-image: url(/frontend/views/site/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.app-store-logo {
    display: block;
    width: 290px;
    height: 50px;
    margin: 25px;
/*		background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-image: url(/frontend/views/site/img/app_store_logo.png);
*/	}

.menu-item {
    /* float: left; */
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.menu-item::before {
    position: absolute;
    content: '';
    height: 100%;
    right: 0;
    width: 1px;
    background: #898989;
    background: -webkit-gradient(linear, 100% 0, 100% 100%, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .6)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.menu-item:last-child:before {
    content: unset;
}

.menu-item.logout {
    height: 60px;
}

.menu-ico {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
}

.menu-ico.live {
    background-image: url(/img/live.png);
}

.menu-ico.live.active .menu-ico.live,
.menu-item:hover .menu-ico.live {
    background-image: url(/img/live_hover.png);
}

.menu-ico.classes {
    background-image: url(/img/classes.png);
}

.menu-ico.classes.active .menu-ico.classes,
.menu-item:hover .menu-ico.classes {
    background-image: url(/img/classes_hover.png);
}

.menu-ico.schedule {
    background-image: url(/img/schedule.png);
}

.menu-ico.schedule.active .menu-ico.schedule,
.menu-item:hover .menu-ico.schedule {
    background-image: url(/img/schedule_hover.png);
}

.menu-ico.pros {
    background-image: url(/img/pros.png);
}

.menu-ico.pros.active .menu-ico.pros,
.menu-item:hover .menu-ico.pros {
    background-image: url(/img/pros_hover.png);
}

.menu-ico.more {
    background-image: url(/img/more.png);
}
.menu-ico.more.active .menu-ico.more,
.menu-item:hover .menu-ico.more {
    background-image: url(/img/more_hover.png);
}

.menu-ico.profile {
    background-image: url(/img/profile.png);
}
.menu-ico.profile.active .menu-ico.profile,
.menu-item:hover .menu-ico.profile {
    background-image: url(/img/profile_hover.png);
}

.menu-ico.logout {
    background-image: url(/img/profile_logout.png);
}
.menu-ico.logout.active .menu-ico.logout,
.menu-item:hover .menu-ico.logout {
    background-image: url(/img/profile_logout_hover.png);
}

.menu-title {
    font-size: 16px;
    color: #898989;
    text-align: center;
    text-decoration: none !important;
}

.menu-title.active .menu-title,
.menu-item:hover .menu-title {
    color: #E31E24;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

@media screen and (max-width: 900px) {
    .app-panel {
        justify-content: center;
    }

    .app-main-menu {
        width: 100%;
    }

    .menu-item {
        width: 20%;
    }


}