.Toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    /*height: 80px;*/
    top: 0px;
    background-color: #FFF;
    border-top: 1px solid #898989;
    box-shadow: 0 0 20px 0 #0008;
    z-index: 99;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    display: block;
		margin: 20px;
		width: 290px;
		height: 60px;
		background-position: center;
		background-size: contain;
        background-repeat: no-repeat;
}

@media (max-width: 900px) {
    .Logo {
        display: none !important;
    }

    .Toolbar {
        justify-content: center;
    }

    .app-main-menu {
        width: 100%;
    }

    .app-main-menu .menu-item {
        width: 20%;
    }
    /* .DesktopOnly {
        display: none;
    } */
}