/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);



html, body {
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 16px;
	width: 100%;
	height: 100%;
	outline: none;

}

body {
	background-color:white;
}

.content-wrap {
	padding: 10px 0 20px;
	min-height: 500px;
}

.panel-container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

