.activity-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px 0;
}

.content-wrap {
	padding: 10px 0 20px;
	min-height: 500px;
}

.panel-container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }